* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}

h1 {
    text-align: center;
    /*ketebalan font*/
    font-weight: 300;
}

.navbar {
    background-color: #383838;
    box-sizing: border-box;
    color: aliceblue;
    padding: 10px;
}

body {
    font-family: sans-serif;
    background-image: url(untitled8.png);
}

.tulisan_login {
    text-align: center;
    /*membuat semua huruf menjadi kapital*/
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
}

.kotak_login {
    width: 350px;
    background: white;
    /*meletakkan form ke tengah*/
    margin: 80px auto;
    padding: 30px 20px;
    border-radius: 10px;
}

.kotak_login a {
    text-decoration: none;
}

label {
    font-size: 11pt;
}

.form_login {
    /*membuat lebar form penuh*/
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_login {
    background: #455246;
    color: white;
    font-size: 11pt;
    width: 30%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    transition: 300ms;
}

.tombol_login:hover {
    background: #46de4b;
    color: white;
    font-size: 11pt;
    width: 30%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    transition: 300ms;
}

.kotak_submit {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
}

.tombol_reset:hover {
    background: #de6946;
    color: white;
    font-size: 11pt;
    width: 30%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    transition: 300ms;
}

.tombol_reset {
    background: #455246;
    color: white;
    font-size: 11pt;
    width: 30%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    transition: 300ms;
}

.link {
    color: #232323;
    text-decoration: none;
    font-size: 10pt;
}